// #page {
//   margin: 50px 50px 0 50px;
// }

h1,h2,h3,h4,h5,h6 {
  font-family: 'Oswald', sans-serif;
}

// p {
//   font-family: 'Open Sans', sans-serif;
// }

html {
  font-size: 62.5%;
}

#site {
  margin: 0 50px;
  font-size: 1.6rem;


  nav {
    display: grid;
    grid-template-columns: 20% auto 20%;

    nav__right {
      display: flex;
      justify-content: space-between;
    }
  }


  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 3rem;
  }
}